main {
  border: 4px solid #4285f4;
  width: 250px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  color:white;
  font-size: 20px;
}
.north {
  background: #E67676;
  padding: 25px;
  margin:0px;
}
.east {
  background: #F2F062;
  padding: 25px;
  margin: 0px;
}
.south {
  background: #A9E6E6;
  padding: 25px;
  margin: 0px;
}
.west {
  background: #7692E4;
  padding: 25px;
  margin: 0px;
}
p {
  text-align: center;
}